@import "./variables.scss";

.modal {
  width: 446px;
  max-width: calc(100vw - 40px);
  padding: 30px 23px 15px;
  background: var(--fill-white);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color: var(--grey-slate-solid-850);
}

.title {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

.desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 20px;
}

.close {
  @extend %image-common-style;

  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
