@import "./variables.scss";

.container {
  @extend %container-common-style;

  opacity: 1;
  transition: opacity 500ms linear;
  overflow-x: hidden;
}

.noInternetContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

// remove overflow for table sticky feature
.containerAiApi {
  @extend %container-common-style;

  opacity: 1;
  transition: opacity 500ms linear;
}

