.button {
  min-height: calc(var(--spacing-40) + var(--spacing-8));
  padding: var(--spacing-12) var(--spacing-20);
  border: none;
  border-radius: var(--corner-radius-8);
  cursor: pointer;
}

.button:focus-visible {
  outline: none;
  box-shadow: var(--spacing-0) var(--spacing-0) var(--spacing-0)
    var(--spacing-4) var(--stroke-focus);
}

.primary {
  color: var(--text-inverse-strong);
  background: var(--fill-brand-strong);
}

.primary:hover {
  background: var(--brand-light-800);
}

.secondary {
  color: var(--text-strong);
  background: var(--fill-weak);
}

.secondary:hover {
  background: var(--fill-hover);
}
